<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ua_a</key>
	<string>lNXZ5NXa09ybp5SawF2aj9WbuQDMmJmMmZ2YkVjMwEGNxkTYyMGN3UTY28yL6MHc0RHa</string>
	<key>ua_b</key>
	<string>6A5AC8AF</string>
	<key>ua_d</key>
	<string>yVGbs9mc052bDdXZpZ1cllXYsB1R</string>
</dict>
</plist>
